/*Configuration pour un Iphone 14 Pro Max*
430x932
*/
@media screen and(max-width:420px){
    h1{font-size: 1.8em;text-align:center;}
    p{font-size: 1.25em;}
    #download h2{font: size 1.8em;;}
    #features article p{font-size:1.1em}
}