.navbar{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 2;
}
/*HEADER*/
header{background: url('../images/bg-pattern.png'),linear-gradient(to left,#7b4397,#dc2430);}
h1{font-size: 2.8em;
    font-weight:400;
    text-transform: capitalize;}
.bg-warning{color:#fdcc52}
/* Download */
#download {padding: 6em 0;}
#download h2{
    font-size: 70px;
    font-weight: 300;
}
.badges img{height: 40px;}

/* Features */
#features{margin:6.56em auto }
hr{max-width: 100px;margin: 2em auto;}
#features .title h3{font-size:2.8em;font-weight: 300;}
#features article h3{font-size: 1.5em;font-weight:300;}
#features article p{font-size: 0.9em;}

#features article span{
    display: block;
    font-size: 80px;
    margin-bottom: 15px;
    background: linear-gradient(to left,#7b4397,#dc2430);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.device-container{max-width: 325px;margin: 0 auto;}
.device-mockup{position: relative;width: 100%;}
.device-mockup.iphone{padding-bottom: 201.76%;}
.device-mockup .device{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.screen{
    overflow:hidden;
    top: 11%;
    bottom: 12%;
    position: absolute;
    left: 6%;
    right: 6%;
}

/* ACTION */
.action{background: url('../images/bg-cta.jpg') no-repeat scroll left center;
    padding: 15.625em 0;
    padding: 10.625em 0; 
    background-size: cover;
    position: relative;
    }

.action-content h4{font-size:4.375em;font-weight: 300;}
.action-content{position: relative;z-index: 1;}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
}
.carousel-inner{max-height: 75vh;}

/* CONTACT*/
#contact h4{font-size: 2.8em;font-weight: 300;}
#list-contact span{border-radius: 50%;padding: 0.4em;}
#list-contact li{display: inline-block;margin-right: 0.5em;}
#list-contact li a{display: block;width: 80px;border-radius: 100%;font-size: 40px;color: #fff;text-decoration: none;}
#list-contact li a .icon-social-twitter{background-color:#1da1f2;padding: 0.4em;}
#list-contact li a .icon-social-facebook{background-color:#3b5998;padding: 0.4em;}
#list-contact li a .icon-social-google{background-color:#dd4b39;padding: 0.4em;}

/* FOOTER*/
footer ul li{display: inline-block;padding: 0.9em;}
footer ul li a:hover{color: #fdcc52!important;}